
# dependencies
/node_modules
/frontend/node_modules
/.pnp
.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

/backend/config/config.env
backend\config\config.env
backend/config/config.env

# misc
/frontend/.test.css
/frontend/.Test.js
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
