.updateContainer {

    height: 100vh;
    width: 100vw;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 241, 238);
  }
  
  .loginSignUpBox {
    background-color: rgb(250, 227, 222);
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
  
  }
  
  .loginSignUpBox>h2 {
    height: 2vmax;
    font: 500 2vmax Roboto;
    margin: auto;
    width: auto;
    text-align: center;
  margin-top: 1vmax;
  
  }
  
  
  
  
  
  .loginSignUpBox>div>button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all0.5s;
  }
  
  
  .updateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
    /* background-color: pink; */
  
  }
  
  
  .updateForm>div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  
  .updateForm>div>input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
  }
  
  .updateForm>div>svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  
  
  
  .signUpBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  
  .updateProfileImage>img {
    width: 3vmax;
    border-radius: 100%;
  }
  
  .updateProfileImage>input {
    display: flex;
    padding: 0px !important;
    margin-left: .5rem;
    /* background-color: pink; */
    /* margin: 0px; */
    ;
  }
  
  .updateProfileImage>input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    margin: 0px !important;
    margin-left: 1rem;
    /* b: none !important; */
    border: none;
    /* background-color: rgb(255, 151, 169);  */
  }
  
  
  
  
  
  
  
  
  
  @media screen and (max-width: 600px) {
    .loginSignUpContainer {
      background-color: rgb(255, 255, 255);
    }
  
    .loginSignUpBox {
      width: 100vw;
      height: 95vh;
      background-color: rgb(255, 255, 255);
  
    }
  
    .signUpBtn {
      border: none;
      background-color: tomato;
      color: white;
      font: 300 3vmax "Roboto";
      width: 100%;
      padding: 3vmax;
      cursor: pointer;
      transition: all 0.5s;
      border-radius: 4px;
      outline: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    }
  
    .updateForm {
      padding: 5vmax;
    }
  
  
    .updateForm>div>input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
  
    .updateForm>div>svg {
      font-size: 2.8vmax;
    }
  
  
    #updateProfileImage>img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #updateProfileImage>input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }
  
    .updateForm {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }